<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289448969827-qs5mtqh0idpjb8hm9emidvjaspss8n8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289448969827-qs5mtqh0idpjb8hm9emidvjaspss8n8q</string>
	<key>API_KEY</key>
	<string>AIzaSyCdbxiz4-k8W29DV-DKDIrQmh6P5pDpPrY</string>
	<key>GCM_SENDER_ID</key>
	<string>289448969827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easytodos</string>
	<key>PROJECT_ID</key>
	<string>easytodos-8ee5d</string>
	<key>STORAGE_BUCKET</key>
	<string>easytodos-8ee5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289448969827:ios:3cf5783a04d4a988b6da56</string>
	<key>NSAppTransportSecurity</key>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
        <key>NSAllowsArbitraryLoadsInWebContent</key>
        <true/>
        <key>NSAllowsLocalNetworking</key>
        <true/>
</dict>

</plist>